body {
	color: white;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
	margin: 0;
}

.navbar-header {
	height: 100px;
	vertical-align: middle;
	position: relative;
}

.header-nav {
	background-color: #f6b319;
}

#logo-img {
	background: url("../images/symbol_logo.png") no-repeat;
	width: 100px;
	height: 100px;
	float: left;
}

#kstar {
  content: url('../images/star-k-logo.png');
  vertical-align: middle;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Georgia';
  color: #557c3e;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a {
  text-decoration: none;
}
#kosher { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  display: inline-block;
  margin: 5px;
}
.navbar-brand div span { /* Star-K */
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 1200px) {
	.invisible-lg {
		display: none;
	}
}

@media (min-width: 750px) and (max-width: 1199px) {
	.invisible-md {
		display: none;
	}
}

@media (max-width: 749px) {
	.invisible-sm {
		display: none;
	}

	.header-margin-sm {
		margin-left: 25px;
		margin-right: 25px;
	}

	#hamburger-menu {
		content: url('../images/hamburger_menu.png');
		position: absolute;
		top: 25px;
		right: 0px;
	}

	#phone_num_box {
		border: 1px solid black;
		box-shadow: 1px 1px 0px 0px #000000;
		display: inline-block;
		margin-left: 35px;
	}

	#phone_num_box p {
		margin: 3px;
		color: #000;
  		text-transform: uppercase;
  		font-weight: 900;
	}
}